.nav-wrapper {
  background-color: white;
}
.header_returnBtnBox {
  &:hover {
    cursor: pointer;
  }
}
.header_menuBtn,
.header_returnBtn {
  padding-left: 1rem;
}
.header_returnBtn {
  font-size: $fontsize-base * 2;
}