.contact_kfugLogo {
  margin-top: 0.5rem;
  display: block;
  width: 90VW;
  margin-right: auto;
  margin-left: auto;
}
.contact_description {
  margin-top: 0.5rem;
}
.contact_sns--connpass {
  margin-top: 1rem;
}
.contact_sns--facebook,
.contact_sns--twitter {
  margin-top: 0.5rem;
}